*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

/*header e nav iniziali*/
header{
    width: 100%;
    height: 100px;
}

.sidebar-left{
    display: inline-block;
    line-height: 100px;
}

.sidebar-right{
    float: right;
}

#logo{
    line-height: 100px;
    vertical-align: middle;
}
nav{
    display: inline-block;
}
nav ul li{
    display: inline-block;
    margin: 0px 20px;
}
nav ul li a{
    line-height: 100px;
    vertical-align: middle;
    text-decoration: none;
    color: black;
}

.button{
    padding: 6px 18px;
}

.btn-blue{
    background-color: #0061ff;
    color: white;
    text-decoration: none;
}
.btn-white{
    background-color: white;
    border: 1px solid black;
    color: black;
    text-decoration: none;
    /*per qualche motivo il margin-top non funziona sul bottone, quindi l'ho spostato con position relative*/
    position: relative;
    top: 30px;
}


/* inizio jumbotron*/
.jumbotron{
    width: 100%;
    background-color: #b4d0e7;
    margin-bottom: 200px;
    padding-top: 70px;
}

.jumbo-container{
    width: 80%;
    margin: auto;
}
.jumbo-container:after{
    display: table;
    clear: both;
    content: "";
}

.jumbo-container h1{
    font-size: 65px;
    margin-bottom: 30px;
    font-weight: 600;
}

.jumbo-container .text-container{
    width: 30%;
    float: left;
    margin-right: 50px;
    position: relative;
    top: 40px;
}
.jumbo-container .text-container .description{
    margin-bottom: 30px;
}
.text-container p{
    margin-top: 10px;
}
.text-container i{
    margin-top: 30px;
    font-size: 30px;
}

.img-container{
    width: 60%;
    margin-left: 30px;
    float: left;
    position: relative;
    top: 50px;
}
.img-container img{
    max-width: 100%;
}


/*inizio main*/
/*inizio sezione prezzi*/
.price-container{
    width: 80%;
    margin: 50px auto;
    height: 270vh;
}

.price-title{
    height: 150px;
}
.price-title h2{
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 50px;
}

.opzione-abbonamento{
    display: inline-block;
    margin-right: 20px;
}
.opzione-abbonamento a{
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.opzione-abbonamento .input-selezionato{
    border: 5px solid #0160FF;
    border-radius: 50%;
}
.opzione-abbonamento .input-non-selezionato{
    border: 1px solid grey;
    border-radius: 50%;
}


/*classe in comune tra i piani di pagamento*/
.plan{
    width: 30%;
    display: inline-block;
    border: 1px solid grey;

    /*Altezza fissa del contenitore così da dare una distanza fissa dalla lista finale dei piani */
    height: 180vh;
}

.user-type{
    line-height: 50px;
    vertical-align: middle;
    text-align: center;
    border-bottom: 1px solid grey;
}

.offer-description{
    width: 80%;
    margin: 40px auto;
}

.offer-description h3{
    font-size: 25px;
    margin-bottom: 20px;

    /* Per il piano enterprise*/
    display: inline-block;
}
p.price{
    font-weight: bold;
    margin-bottom: 15px;
}
.offer-description .delay{
    color: grey;
    white-space: nowrap; /*In questo modo il testo non va accapo*/
}

.offer-details{
    margin-top: 50px;
}
.offer-details ul li{
    list-style: none;
    margin-bottom: 20px;
}
.offer-details .btn-blue{
    display: block;
    margin-top: 50px;
    padding: 10px 30px;
    white-space: nowrap;
}
.offer-details p{
    margin-top: 20px;
}

.grey-line{
    width: 30%;
    height: 30px;
    border-bottom: 1px solid grey;
}

.offer-summary{
    margin-top: 40px;
}
.offer-summary h4{
    margin-bottom: 40px;
    font-weight: 700;
}
.offer-summary i{
    color: #0061ff;
}

.professional{
    float: left;
}

.standard{
    float: left;
    margin-left: 50px;
}

.advanced{
    float: right;
}

/*clearfix prima del piano enterprise, altrimenti collide con gli altri plan*/
.clearfix{
    clear: both;
}

/*gesionte piano enterprise*/
.enterprise{
    width: 100%;
    height: 270px;
    margin-top: 50px;
}

.enterprise.plan .offer-description{
    width: 95%;
    margin: 40px auto;
}
.enterprise.plan .offer-description h4{
    margin-bottom: 40px;
}
.enterprise.plan .offer-description a.btn-blue{
    float: right;
    padding: 6px 75px;
}

/*clearfix per la gestione corretta del bottone sull'enterprise plan*/
.offer-description:after{
    clear: both;
    content: "";
    display: table;
}

/*fine sezione prezzi*/


/* inzio sessione partner*/
.partner{
    width: 80%;
    margin: 50px auto;
    height: 80vh;
    position: relative;
}

.partner img{
    width: 50%;
    margin-top: 20px;
}
.partner h2{
    margin-bottom: 20px;
    font-weight: 700;
}
.partner p{
    line-height: 25px;
}

.partner-details{
    max-width: 40%;
    display: inline-block;
    position: absolute;
    top: 100px;
    right: 50px;
}
/*fine sezione partner*/


/* inizio sezione dropbox business*/
.dropbox-business{
    width: 80%;
    margin: 50px auto;
    height: 220vh;
    text-align: center;
}

.dropbox-business h2{
    font-size: 35px;
    font-weight: 700;
    text-align: left;
}

.small-container{
    width: 30%;
    display: inline-block;
    margin: 50px 25px 50px 0px;
}

.small-container img{
    width: 100%;
    display: block;
}
.small-container h3{
    font-size: 25px;
    text-align: left;
    margin-bottom: 30px;
}
.small-container p{
    text-align: left;
}

.aziende-partner{
    position: relative;
}

.dropbox-business .aziende-partner h2{
    text-align: left;
    width: 60%;
    margin-top: 120px;
    font-weight: 700;
}

.aziende-partner a{
    position: absolute;
    left: 0;
    margin-top: 20px;
}

/* inizio sezione designIT*/
.designIT{
    width: 100%;
    height: 100vh;
    background-color: gray;
}


/* inizio sezione FAQ*/
.FAQ{
    width: 80%;
    margin: 50px auto;
    height: 80vh;
    background-color: yellowgreen;
}

/* inizio footer */
footer{
    width: 100%;
    background-color: black;
    height: 60vh;
}