*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

/*header e nav iniziali*/
header{
    width: 100%;
    height: 100px;
}

.sidebar-left{
    display: inline-block;
    line-height: 100px;
}

.sidebar-right{
    float: right;
}

#logo{
    line-height: 100px;
    vertical-align: middle;
}
nav{
    display: inline-block;
}
nav ul li{
    display: inline-block;
    margin: 0px 20px;
}
nav ul li a{
    line-height: 100px;
    vertical-align: middle;
    text-decoration: none;
    color: black;
}

.button{
    padding: 6px 18px;
}

.btn-blue{
    background-color: #0061ff;
    color: white;
    text-decoration: none;
}
.btn-white{
    background-color: white;
    border: 1px solid grey;
    color: grey;
    text-decoration: none;
    /*per qualche motivo il margin-top non funziona sul bottone, quindi l'ho spostato con position relative*/
    position: relative;
    top: 30px;
}


/* inizio jumbotron*/
.jumbotron{
    width: 100%;
    background-color: #b4d0e7;
    margin-bottom: 200px;
    padding-top: 70px;
}

.jumbo-container{
    width: 80%;
    margin: auto;
}
.jumbo-container:after{
    display: table;
    clear: both;
    content: "";
}

.jumbo-container h1{
    font-size: 65px;
    margin-bottom: 30px;
    font-weight: 600;
}

.jumbo-container .text-container{
    width: 30%;
    float: left;
    margin-right: 50px;
    position: relative;
    top: 40px;
}
.jumbo-container .text-container .description{
    margin-bottom: 30px;
}
.text-container p{
    margin-top: 10px;
}
.text-container i{
    margin-top: 30px;
    font-size: 30px;
}

.img-container{
    width: 60%;
    margin-left: 30px;
    float: left;
    position: relative;
    top: 50px;
}
.img-container img{
    max-width: 100%;
}


/*inizio main*/
.price-container{
    width: 80%;
    margin: 50px auto;
    height: 200vh;
    background-color: green;
}

.price-title{
    height: 150px;
    background-color: red;
}
.price-title h2{
    font-size: 30px;
    font-weight: 600;
}

/*classe in comune tra i piani di pagamento*/
.plan{
    height: 120vh;
    width: 30%;
    background-color: yellow;
    display: inline-block;
}

.professional{
    float: left;
}

.standard{
    float: left;
    margin-left: 50px;
}

.advanced{
    float: right;
}

/*clearfix prima del piano enterprise, altrimenti collide con gli altri plan*/
.clearfix{
    clear: both;
}

.enterprise-plan{
    width: 100%;
    height: 300px;
    background-color: yellow;
    margin-top: 50px;
}


/* inzio sessione partner*/
.partner{
    width: 80%;
    margin: 50px auto;
    height: 80vh;
    background-color: red;
    position: relative;
}

.partner img{
    width: 50%;
    margin-top: 20px;
}
.partner h2{
    margin-bottom: 20px;
    font-weight: 600;
}

.partner-details{
    max-width: 40%;
    display: inline-block;
    position: absolute;
    top: 100px;
    right: 50px;
}

/* inizio sezione dropbox business*/
.dropbox-business{
    width: 80%;
    margin: 50px auto;
    height: 220vh;
    background-color: cyan;
    text-align: center;
}

.dropbox-business h2{
    font-size: 35px;
    font-weight: 600;
}

.small-container{
    width: 30%;
    height: 70vh;
    background-color: yellow;
    display: inline-block;
    margin: 50px 0px;
}

.aziende-partner{
    position: relative;
}

.dropbox-business .aziende-partner h2{
    text-align: left;
    width: 60%;
    margin-top: 120px;
}

.aziende-partner a{
    position: absolute;
    left: 0;
    margin-top: 20px;
}

/* inizio sezione designIT*/
.designIT{
    width: 100%;
    height: 100vh;
    background-color: gray;
}


/* inizio sezione FAQ*/
.FAQ{
    width: 80%;
    margin: 50px auto;
    height: 80vh;
    background-color: yellowgreen;
}

/* inizio footer */
footer{
    width: 100%;
    background-color: black;
    height: 60vh;
}